
.container
	.row
		.col-sm-12
			%h1
				Hi
				= current_user


	%a.btn.btn-success.pull-right{ { data: { toggle: :modal, target: '#new_organization' } } }
		Add Organization

	- if @organizations.present?
		%table.table

			%tbody
				- @organizations.each do |org|
					%tr
						%td
							= link_to org.name, edit_organization_path( org )
						%td
							= org.users.count





= render 'organizations/new_modal'