
%footer.footer
	.container
		.row
			.col-sm-8
				Funded by the 
				%a{ href: 'http://www.nimh.nih.gov/index.shtml' }
					National Institutes of Mental Health 
				(K01 MH093477; PI: A. Drahota)
				%br
				%a{ href: 'http://www.nimh.nih.gov/index.shtml' }
					= image_tag 'nimh_logo.gif'
			.col-sm-2
				%a{ href: '/about' }
					About
			.col-sm-2
				= @current_agency.try( :name )
