.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Admin', admin_index_path
				%li
					New Agency
.container
	.row
		.col-sm-12
			%h1
				Add an Agency
		.col-sm-8
			= render 'form', agency: Agency.new

