
.container
	.row
		.col-xs-12
			%center
				%h1
					About ACT SMART

	.row
		.col-xs-8
			%h2
				Introduction
			.video-container
				%iframe{ width: 560, height: 315, src: "//www.youtube.com/embed/nlEDHwChto4", frameborder: 0, allowfullscreen: true }

			%h2
				Description of the ACT SMART Model
			%p
				The Autism-Community Toolkit: Systems toMeasure and Adopt Research-based Treatments (ACT SMART) is a comprehensive toolkit developed for agencies that provide services to individuals with autism spectrum disorder (ASD). ACT SMART assists agencies successfully implement new research-based treatments.
			%p
				Specifically, ACT SMART:
				%ul
					%li 
						%i
							Assists 
						in identifying training and service delivery gaps and selecting effective treatments to meet agency-wide needs.
					%li
						%i
							Facilitates 
						treatment adoption decisions.
					%li
						%i
							Guides 
						designing effective training and implementation strategies.
					%li
						%i
							Supports 
						efforts that will sustain use of effective treatments.

			%p
				ACT SMART was developed from the Autism Model of Implementation (AMI), a framework guiding the implementation and sustainment of research-based treatments within ASD community services (refer to Figure 1).
		.col-xs-4
			.well
				%center
					%h3
						ACT SMART Model
				%p
					%u
						Goal of ACT SMART: 
					Assist ASD community-based agencies to identify needs, select and evaluate research-based treatments, and develop strategies to support implementation and sustained use.
				%p
					%u
						Target Agencies: 
					Community-based agencies providing intervention services to individuals with autism spectrum disorder.

	.row
		.col-xs-12
			%h3
				Autism Model of Implementation (AMI) Phases and ACT SMART Steps

			%center
				= image_tag 'figure1.jpg', class: 'img img-responsive'
			%br
			%br
			%br
			%br


