
.container
	.row
		.col-xs-12
			%center
				= image_tag 'logo_wide.png'
		.col-xs-12
			%center
				%h3
					Frequently Asked Questions
		.col-xs-12
			%h4{ style: 'text-decoration:underline;' }
				What is the ACT SMART toolkit?
			%p
				The ACT SMART toolkit is a web-based, comprehensive toolkit developed for agencies that provide services to children with autism spectrum disorder (ASD). ACT SMART assists Implementation Teams to successfully implement new research-based treatments throughout the agency. Specifically, the four phases of ACT SMART will:

				%ul
					%li
						Assists your agency’s Implementation Team to identify training and service delivery gaps and select research-based treatments to meet agency-wide needs.
					%li
						Facilitate treatment adoption decisions.
					%li
						Guide your agency’s Implementation Team to design effective training and use effective implementation strategies.
					%li
						Support efforts that will sustain the use of research-based treatments.

			%h4{ style: 'text-decoration:underline;' }
				What is the purpose of this study?
			%p
				The purpose of this study is to evaluate the feasibility, acceptability, usefulness, and fidelity of the ACT SMART toolkit to determine whether it fits within your agency’s structure and helps to meet your agency’s needs. 

			%h4{ style: 'text-decoration:underline;' }
				How will ACT SMART benefit my agency?
			%p
				The ACT SMART toolkit aims to help your agency grow and meet the needs of your current and future clients. This toolkit will provide you with a comprehensive assessment of your agency’s areas of strengths and areas for growth, and provide recommendations for your agency. It will also provide structure for your agency evaluate whether a treatment should be adopted, provide planning tools related to adapting, training, and implementing a new research-based treatment, and support your agency as staff begin to use the treatment.


			%h4{ style: 'text-decoration:underline;' }
				How much time will ACT SMART really take? 
			%p
				We recommend that Implementation Teams spend at least 2 hours a month on ACT SMART web-based activities and an additional hour for the ACT SMART facilitation meetings (approximately 36 hours during the course of the year). However, the total amount of time that your agency’s Implementation Team spends on the ACT SMART activities will vary based on the number of members on the Implementation Team, how much planning is required, and the size of your agency. Research activities related to the study will take approximately 6½ hours throughout the year.

				

