.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					Getting Ready
	.row
		.col-sm-12
			%h1
				Getting Ready for ACT SMART Phases 2-4 
			%p
				This section provides guidance on how to prepare for the next phases (2-4) of the ACT SMART toolkit. There are a few decisions to make before you get started with the next phases. Making these decisions now will be helpful so that you can efficiently and most effectively use your time. 
			.well{ style: 'float:right;width:25%;'}
				%strong{ style: 'text-align: center;' }
					Getting Ready Checklist
				%ul
					%li
						Identify who will complete the ACT SMART materials
					%li
						Schedule regular times to read, review, and complete the ACT SMART activities
					%li
						Connect with staff who might understand the perspectives of staff or provide different information
					%li
						Call the ACT SMART facilitator if any questions or concerns arise
					%li
						Attend the monthly ACT SMART facilitation meetings
			%p{ style: 'font-style: italic;' }
				Who should be a part of the ACT SMART team at my agency?
			%p
				ACT SMART was developed to be flexible and fit with many different types of agency structures. We recommend identifying a specific person or team of people to complete the ACT SMART activities. This will help to ensure consistency and completion of materials. 
			%p
				There are different options for who can complete ACT SMART materials: 1) an agency leader or 2) an implementation team. 
			%ul
				%li{ style: 'margin-bottom:1em;' }
					%u
						Agency leader.
					Identify an agency leader who will be responsible for completing ACT SMART materials. This person should be the decision-maker in the agency. That is, this person should have the opportunity and independence to decide the specific treatments to implement within an agency. It is important that the person identified completes all ACT SMART materials for consistency in reporting. However, we suggest that the agency leader not work in total isolation from agency staff. Communicating with agency staff increases buy-in for the treatment that is identified and implemented throughout the agency.  
				%li
					%u
						Implementation Team. 
					Alternatively, an implementation team comprised of agency staff can be formed to complete ACT SMART materials. For this team format, it is recommended to have regularly-scheduled team meetings to discuss and complete materials. If this team format option is chosen, please see our “Tips to promote collaborative and successful implementation teams.”

			%h3
				General tips for completing ACT SMART Phases 2-4
			%ul
				%li{ style: 'margin-bottom:1em;' }
					It is highly recommended to set aside a regularly scheduled day and time to complete and review ACT SMART materials. It is recommended that at least two hours per month be devoted to reading and completing ACT SMART materials.
				%li{ style: 'margin-bottom:1em;' }
					Some of the ACT SMART materials are very brief whereas others are more time-consuming to complete. We are confident that the more time you put in to completing ACT SMART materials fully, the more information and feedback you will receive to make well-informed adoption decisions of research-based treatments.
				%li{ style: 'margin-bottom:1em;' }
					It is important to identify key stakeholders at your agency (e.g., opinion leaders, innovators, etc.). These staff members have a lot of influence on staff perceptions, attitudes, and acceptance of new research-based treatments. Additionally, these staff members are the individuals who will be able to let you know the general consensus of your staff and barriers to be problem-solved during the implementation process.
				%li{ style: 'margin-bottom:1em;' }
					Strategic planning in engaging agency staff at all levels in the ACT SMART process will promote staff buy-in of research-based treatments and promote a positive culture. 
			%h3
				Tips to promote collaborative and successful implementation teams
			-# TODO


