.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 2', phase2_index_path
				%li
					Step 2
	.row
		.col-sm-12
			%h1
				Step 2. Evaluate Research-Based Treatment and Provider Factors
			%p
				<u>Goal</u>: To evaluate treatment and provider factors to make sure that this research-based treatment matches the needs and structure of your agency.  
			%h4
				Introduction
			%p
				Six specific activities will guide your evaluation of the research-based treatment. Below is a description of each activity. We recommend that each activity be complete to provide you with a full evaluation of the treatment before you decide to adopt it throughout your agency. However, if the results of a single worksheet indicate that the treatment is not ideal for your agency, you can stop at that time.
	.row
		.col-sm-10.col-sm-offset-1
			%table.table
				%thead
					%th
						Step 2 Activities
					%th
						Description
				%tbody
					%tr
						%td
							%a{ href: step2_activity1_phase2_index_path }
								Activity 1: Treatment Fit 
						%td
							Assesses whether the potential research-based treatment will be compatible with your agency’s values 
					%tr
						%td
							%a{ href: step2_activity2_phase2_index_path }
								Activity 2: Treatment Feasibility
						%td
							Assesses whether the potential research-based treatment is easy for your providers to deliver.

					%tr
						%td
							%a{ href: step2_activity3_phase2_index_path }
								Activity 3: Clinical Value and Validity 
						%td
							Evaluates the clinical value and research validity of a potential research-based treatment.

					%tr
						%td
							%a{ href: step2_activity4_phase2_index_path }
								Activity 4: Training Requirements
						%td
							Identifies the potential treatment’s training requirements for providers and supervisors.

					%tr
						%td
							%a{ href: step2_activity5_phase2_index_path }
								Activity 5: Funding Source Checklist
						%td
							Identifies the possible funding that your agency may be able to receive for delivering a potential research-based treatment.

					%tr
						%td
							%a{ href: step2_activity6_phase2_index_path }
								Activity 6: Benefit-Cost Estimator
						%td
							Tabulates the potential benefits and calculates the estimated costs associated with using a potential research-based treatment.


















