.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 2', phase2_index_path
				%li
					Step 1
	.row
		.col-sm-12
			%h1
				Phase 2 Step 1
			%p
				<u>Goal</u>: To identify a research-based treatment that matches the needs or your agency.
			%h4
				Introduction
			%p
				There are many treatments available to for individuals with ASD. It can be difficult to systematically review all of the available treatments, and to conduct a comprehensive review of the evidence supporting (or not supporting) their use. However, there are a lot of reputable web-based resources that can summarize the research information and list research-based treatments.
			%p
				<a href='step1_resource'>Resource 1: Guide to Identify Research-Based Treatments</a>. This resource summarizes important information about several web-based resources available to identify ASD research-based treatments. The resource includes the following information.
			%table.table
				%thead
					%th
						Column Name
					%th
						Description
				%tbody
					%tr
						%td
							Resource
						%td
							Lists the name and funder of the resource.
					%tr
						%td
							URL
						%td
							Lists the website URL where the resource can be located.
					%tr
						%td
							Accessibility
						%td
							Identifies whether the resource is free or requires a fee and the format in which the resource can be accessed (i.e., PDF or web-based).
					%tr
						%td
							Specificity to ASD
						%td
							Identifies whether or not the resource is designed for ASD related treatments or treatments for multiple populations.
					%tr
						%td
							Types of Treatments
						%td
							Identifies the various types of treatments (i.e., behavior, mental health, academic success) that are included in the resource.
					%tr
						%td
							Rating Scale
						%td
							Details the scale(s) used to rate the treatments listed within each resource.
					%tr
						%td
							Audience
						%td
							Lists the audience (i.e., parents, therapists, educators) that each resource was designed for.


	.row
		.col-sm-12
			%h2
				Instructions for Identifying and Selecting ASD Treatments
			-# TODO





			