
.container
	.row
		.col-xs-12
			%center
				%h1
					About ACT SMART

	.row
		.col-xs-8
			%h2
				Introduction
			.video-container
				%iframe{ width: 560, height: 315, src: "//www.youtube.com/embed/nlEDHwChto4", frameborder: 0, allowfullscreen: true }

			%h2
				Description of the ACT SMART Model
			%p
				The Autism-Community Toolkit: Systems toMeasure and Adopt Research-based Treatments (ACT SMART) is a comprehensive toolkit developed for agencies that provide services to individuals with autism spectrum disorder (ASD). ACT SMART assists agencies successfully implement new research-based treatments.
			%p
				Specifically, ACT SMART:
				%ul
					%li 
						%i
							Assists 
						in identifying training and service delivery gaps and selecting effective treatments to meet agency-wide needs.
					%li
						%i
							Facilitates 
						treatment adoption decisions.
					%li
						%i
							Guides 
						designing effective training and implementation strategies.
					%li
						%i
							Supports 
						efforts that will sustain use of effective treatments.

			%p
				ACT SMART was developed from the Autism Model of Implementation (AMI), a framework guiding the implementation and sustainment of research-based treatments within ASD community services (refer to Figure 1).
		.col-xs-4
			.well
				%center
					%h3
						ACT SMART Model
				%p
					%u
						Goal of ACT SMART: 
					Assist ASD community-based agencies to identify needs, select and evaluate research-based treatments, and develop strategies to support implementation and sustained use.
				%p
					%u
						Target Agencies: 
					Community-based agencies providing intervention services to individuals with autism spectrum disorder.

	.row
		.col-xs-12
			%h4
				Autism Model of Implementation (AMI) Phases and ACT SMART Steps

			%center
				= image_tag 'figure1.jpg', class: 'img img-responsive'
			
			%h2
				ACT SMART Phases and Steps
			%p
				ACT SMART consists of four phases, with corresponding action steps that systematically guide agency leaders and teams toward successful identification, implementation and sustained use of a new research-based treatment. There is no set time to complete each phase or step; however, it is recommended that all of the steps be completed. The four phases include:
			%ul
				%li
					%b Phase 1 – Identify Practice and Delivery Gaps:
					The purpose of this phase is to identify an agency’s areas of strength and opportunities for growth. 
				%li
					%b Phase 2 – Treatment Selection and Adoption Decision: 
					During this phase, agency leaders and implementation teams identify potential research-based treatments and evaluate whether the treatment should be adopted within the agency.
				%li
					%b Phase 3 – Planning for Implementation: 
					The purpose of this phase is to guide the development of a training plan, treatment adaptation plan (if needed), and implementation and sustainment strategy plan.
				%li
					%b Phase 4 – Implementation and Sustainment: 
					This phase tracks progress of the adaptation, training, implementation and sustainment plans, and provides guidance for overcoming common implementation obstacles that may arise.

			%h2
				ACT SMART Is… 
			%ul
				%li
					%b Comprehensive.
					ACT SMART uses multiple strategies to guide agency leaders from evaluating agency needs through planning for treatment adaptation, staff training and implementation, and to using strategies to maintain treatment use.
				%li
					%b Systematic.
					ACT SMART is comprised of four phases. Each phase has steps that facilitate progress within the phase and between phases. The systematic approach provides a structure and sequence to organize activities to implement new research-based treatments efficiently and effectively. 
				%li
					%b Research-based. 
					ACT SMART is comprised of research-based phases and steps that are designed to increase the efficiency and effectiveness of agencies to implement research-based treatments. The phases comprising ACT SMART (identify practice and delivery gaps, treatment selection and adoption decision, planning for implementation, and implementation with sustainment) have been studied using rigorous scientific methods in a variety of service settings (Brownson et al., 2012).

			%h2
				ACT SMART Emphasizes… 
			%ul
				%li
					%b Building capacity within agencies. 
					Agency leaders receive training and ongoing facilitation for one year to support use of ACT SMART. 
				%li
					%b Individualization to meet agency needs. 
					ACT SMART allows for individualization and flexibility within a structured set of activities and phases. It guides agencies to identify and adopt any research-based treatment that may best fit their specific needs. Additionally, agencies can individualize targeted strategies to adapt treatments, train staff, and begin using the treatment. Finally, ACT SMART allows the agency to determine who will participate in decision-making, planning, and implementation activities.
				%li
					%b Fit and Feasibility with agencies. 
					Treatments must fit with the climate and culture of an agency to be successfully implemented and used over time. Additionally, the ease of implementing a treatment so that it can work well within the existing structure of an agency is critical for its success. ACT SMART assists agencies in evaluating the fit and feasibility of implementing a treatment in their agency to guide their adoption decision, planning and use of a treatment.
				%li
					%b Using best practices for individuals with ASD. 
					ACT SMART was designed to support the successful use of research-based treatments by matching effective treatments with agency needs and characteristics. 

			%h2
				Who Should Use ACT SMART?
			%p
				ACT SMART was explicitly developed for use by community agencies providing services to individuals with ASD. It was designed for use among a variety of ASD providers, such as behavioral service providers, speech and language pathologists, and mental health service providers. 

			%h2
				Why was ACT SMART Developed?
			%p
				This toolkit was developed to improve the process of implementing research-based treatments for individuals with ASD in community-based agencies. Our research and collaboration with community agency leaders suggests that most ASD community agencies do not have a systematic method for identifying treatment and training needs, matching research-based treatments to specific needs, or supporting initial training, implementation or sustained use over time. ASD community-based agencies play an integral role in addressing the developmental and behavioral problems, and core challenges that are common in ASD. Therefore, it is important that agencies have the tools necessary to efficiently and effectively implement research-based treatments.  

			%h2
				How was ACT SMART Developed?
			%p
				ACT SMART was developed with funding from the National Institutes of Mental Health (NIMH) and in partnership with a team of community agency leaders (AMI Collaborative group). The AMI Collaborative group is comprised of 8 community providers delivering behavioral, speech and language, and mental health services to individuals with ASD, an implementation scientist, and several researchers. The AMI Collaborative group has met quarterly for a year and a half to develop the specific tools within this ACT SMART toolkit. Together, we integrated current procedures used by ASD community-based agencies to adopt and implement research-based treatments and available literature on implementation models and strategies to develop the ACT SMART materials.  



			%br
			%br
			%br
			%br














