
.container
	.row
		.col-sm-12
			%center
				%h1 Glossary
			
	.row
		.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
			%p	
				The following terms are used throughout the text. 
			%table.table
				%tbody
					%tr#facilitator
						%td{ style: 'font-weight:bold;' }
							ACT SMART Facilitator
						%td
							The ACT SMART staff person who will be responsible for working with your agency implementation team. This includes, engaging agency staff to participate in the Agency Assessment and reflect on the findings, regularly meet with your agency implementation team to provide information about the ACT SMART toolkit, provide activity feedback, troubleshoot and guide implementation teams in the use of the ACT SMART toolkit.
					%tr#phase
						%td{ style: 'font-weight:bold;' }
							ACT SMART Phase
						%td
							ACT SMART has 4 phases, each with a specific goal of the phase. For example, Phase 1 focuses on identifying practice and delivery gaps and provides information about an agency's receptivity for change. Phase 2 focuses on selecting a research-based treatment and guiding implementation teams through adoption decisions. Phase 3 focuses on planning for treatment use. Finally, Phase 4 tracks the implementation use and evaluates the progress within the agency. 
					%tr#step
						%td{ style: 'font-weight:bold;' }
							ACT SMART Step
						%td
							Each ACT SMART phase is comprised of several steps that guide implementation teams through specific activities necessary to accomplish the goal of the phase
					%tr#activity
						%td{ style: 'font-weight:bold;' }
							ACT SMART Activity
						%td
							Specific worksheets or activities to work through or consider in order to complete each ACT SMART step
					%tr#adapt
						%td{ style: 'font-weight:bold;' }
							Adaptation
						%td
							Planned changes to the design or delivery of a research-based treatment in the process of its adoption and implementation

					%tr#assessment
						%td{ style: 'font-weight:bold;' }
							Agency Assessment
						%td
							Survey completed by agency leaders, supervisors, and direct providers to identify areas of strength and growth related to the ASD services being delivered, the process of delivering ASD services, and the functioning of the agency
					%tr#leaders
						%td{ style: 'font-weight:bold;' }
							Agency Leaders
						%td
							An individual who has the role of director, CEO, or leading decision-maker regarding treatments used within an agency

					%tr#value
						%td{ style: 'font-weight:bold;' }
							Clinical Value
						%td
							How meaningful and important the benefits and outcomes achieved by the treatment are to your agency, service providers, and clients served

					%tr
						%td{ style: 'font-weight:bold;' }
							Core Elements
						%td
							Specific strategies or techniques of a research-based treatment that are responsible for a treatment’s effectiveness

					%tr
						%td{ style: 'font-weight:bold;' }
							Direct Provider
						%td
							Agency staff who deliver the intervention or treatment directly to children with ASD and their parents or caregivers. 
					%tr#effectiveness
						%td{ style: 'font-weight:bold;' }
							Effectiveness
						%td
							How well the treatment performed under usual care conditions
					%tr#efficacy
						%td{ style: 'font-weight:bold;' }
							Efficacy
						%td
							How well the treatment performed under ideal conditions
					%tr
						%td{ style: 'font-weight:bold;' }
							Feasibility
						%td
							Ease of use; suitability for regular use as needed; practicability
					%tr
						%td{ style: 'font-weight:bold;' }
							Fidelity
						%td
							Delivery of a research-based treatment as intended; adherence; integrity; quality of program delivery
					%tr
						%td{ style: 'font-weight:bold;' }
							Fit
						%td
							Match or compatibility between research-based treatment and agency values, philosophy or mission. 

					%tr
						%td{ style: 'font-weight:bold;' }
							Implementation
						%td
							The process of putting to use or integrating evidence-based practices within a specific setting (National Institutes of Health, 2011).

					%tr
						%td{ style: 'font-weight:bold;' }
							Research-Based Treatment
						%td
							Methods or strategies to treat clinical goals (or targets) that have studies that support their use for specific groups of individuals (such as children with ASD)

					%tr
						%td{ style: 'font-weight:bold;' }
							Research Validity
						%td
							The evidence-base supporting the use of the research-based treatment.

					%tr
						%td{ style: 'font-weight:bold;' }
							Supervisor
						%td
							Agency staff who oversee the direct intervention or treatment delivered to children with ASD by direct providers. Often supervisors are responsible for developing the programming or identifying the specific strategies or treatments for each child on his/her caseload.

					%tr
						%td{ style: 'font-weight:bold;' }
							Sustainment
						%td
							The capacity to deliver and/or core elements of an intervention is maintained (e.g., remain recognizable or delivered at a sufficient level of fidelity or intensity to yield desirable results) after initial implementation support has been withdrawn (Wiltsey Stirman et al., 2012).
















































