.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 3', phase_path( 3 )
				%li
					= link_to 'Step 3', phase_step_path( Phase.third, Phase.third.steps.third )
				%li
					Activity 1 Instructions
	.row
		.col-sm-12
			%h4
				Instructions

			%p
				1)	<b>Review treatment resources and assessment materials.</b> Use the treatment resources you have already gathered in phase 2 or see the 
				%a{ href: 'TODO' }
					Instructions for Identifying and Selecting ASD Treatments
				for guidance on how to access treatment resources. Review the treatment resources to determine if the treatment developer or others have suggested specific implementation and sustainment strategies.  Additionally, review the 
				%a{ href: phase_path( Phase.first ) }
					Agency Assessment Feedback
				for information about implementation supports currently being used by your agency. Additionally, look over recommendations of implementation and sustainment strategies that were provided as they may fit well with your agency’s climate and culture. Even if your agency is not currently using some of these strategies, they may match really well with your agency so that they are easier and more effective for your implementation plan.

			%p
				2)	<b>Select potential implementation and sustainment strategies from the Implementation and Sustainment strategies menu.</b> Place a check mark next to each specific strategy that will be considered for use at your agency. Again, these strategies will facilitate the implementation and sustainment of the research-based treatment. 

			%p
				At this time in the planning process, it may be helpful to select all that that will be considered for use. Step 3 includes considerations that will assist with narrowing down the selection of implementation and sustainment strategies. 
			.well{ style: 'float:right;margin:1em;width:25%;'}
				%center
					%b Tip
				Your ACT SMART facilitator can provide assistance in selecting and planning for use of the implementation and sustainment strategies.
			%p
				3)	<b>Considerations for each strategy.</b> For each potential strategy that is being considered, select all of the strategy considerations that apply from the following list.
				%ul.none
					%li a.	<b>Use currently:</b> This strategy is currently being used within your agency with success.
					%li b.	<b>Previous success:</b> This strategy has been used in the past to successfully implement and/or sustain new treatments.
					%li c.	<b>Feasible:</b> This strategy will be feasible (compatible, practical) for use within your agency.
					%li d.	<b>Recommended by Agency Assessment:</b> This strategy was recommended by the ACT SMART team.
			

			%p
				4) <b>Identify the most supported strategy or set of strategies.</b> Use the information gathered as you considered each strategy to determine which strategy or set of strategies will be most successful to support the initial implementation and sustained use of the research-based treatment.
			%p
				5)	<b>Plan for strategy use.</b> Once the specific strategy or set of strategies has been identified, detail how the strategy will be carried out. For instance, if you select Conduct local consensus discussions, this may be carried out by holding discussions at staff meetings to reach consensus on implementation decisions. Finally, specify who will carry out this plan. 







