
.container
	.row
		.col-xs-12
			%center
				%h1
					The Team
	.row{ style: 'margin-top: 2em;' }
		.col-xs-3
			= image_tag 'drahota.jpg', class: 'img img-responsive pull-right'
		.col-xs-9
			%h3{ style: 'margin-top: 0;' }
				Dr. Amy Drahota, Ph.D.
			.subtitle
				Principal Investigator
			%p
				Dr. Drahota is an Assistant Research Professor of Psychology at San Diego State University and the Child and Adolescent Services Research Center (CASRC). Her research focuses on developing and evaluating implementation strategies to help agencies provide the best and most effective research-based treatments to youth with autism spectrum disorder (ASD).
			.heading{ style: 'font-weight: bold;' }
				Why is the ACT SMART toolkit important?
			%p
				My goal is to develop a toolkit that builds the strengths of community agencies toprovide research-based treatments to individuals with autism. It is also critically important that the toolkit be easy to use, relevant, and cost-effective for agencies. It is my aim for the ACT SMART toolkit to meet these goals. 

			%p
				I’m excited to be working closely with community agencies caring for individuals with autism to share what we have developed and learn more about how to best use the ACT SMART toolkit.

	.row{ style: 'margin-top: 2em;' }
		.col-xs-3
			= image_tag 'rosemary.jpg', class: 'img img-responsive pull-right'
		.col-xs-9
			%h3{ style: 'margin-top: 0;' }
				Rosemary Meza, B.A.
			.subtitle
				Research Assistant
			%p
				Rosemary was a Research Assistant at San Diego State University and the Child and Adolescent Services Research Center (CASRC) during the development of the ACT SMART toolkit. She is currently in the Clinical Psychology Doctoral Program at the University of Washington. Her research interests focus on improving mental health services through the settings.
			.heading{ style: 'font-weight: bold;' }
				Why is the ACT SMART toolkit important?
			%p
				As a former direct provider in an ASD community agency, I am strongly invested in

				the improvement of outcomes for individuals with autism. I believe the ACT SMART 

				toolkit has the potential to improve client outcomes through assisting community 

				agencies in identifying and implementing a research-based treatment that best suits 

				their needs. I look forward to the valuable insight that will be gained through testing 

				the ACT SMART toolkit in ASD community agencies.

	.row{ style: 'margin-top: 2em;' }
		.col-xs-3
			= image_tag 'jon.jpg', class: 'img img-responsive pull-right'
		.col-xs-9
			%h3{ style: 'margin-top: 0;' }
				Dr. Jonathan Martinez, Ph.D.
			.subtitle
				Postdoctoral Research Fellow
			%p
				Dr. Martinez is a Postdoctoral Research Fellow at San Diego State University and 

				the Child and Adolescent Services Research Center (CASRC). His research focuses 

				on bridging the gap between science and practice by focusing on the design, 

				implementation, and evaluation of culturally-sensitive

				health services for diverse children and families.
			.heading{ style: 'font-weight: bold;' }
				Why is the ACT SMART toolkit important?
			%p
				The ACT SMART toolkit has been designed be used flexibly to meet the needs

				of community-based agencies providing services for individuals with Autism 

				Spectrum Disorder (ASD). I believe the toolkit will assist agencies in identifying 

				and implementing evidence-based interventions for individuals with ASD and 

				their families, and develop strategies for their sustained use. I am excited at the 

				opportunity to build and foster relationships with community agencies and gain 

				increased awareness on how best to support agencies at implementing evidence-
				based interventions.
