.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 1', phase_path( 1 )
				%li
					Step 1

	.row
		.col-sm-12
			%h1
				Step 1. Agency Assessment
			%p.larger
				<u>Goal</u>: To identify areas of strength and opportunities for growth within the agency. 
			%h4
				Introduction
			%p
				There are two important parts within the Agency Assessment:
			%p
				%b
					Part One
				assesses the services that are offered within your agency, such as what services are being delivered, the quality of services, and the extent to which services are meeting client needs.
			%p
				%b
					Part Two
				assesses agency factors that impact the delivery of services. Factors include agency resources, staff attributes and attitudes, and organizational culture.
			%p
				Information is gathered from clinical staff to get a comprehensive assessment of the agency. There are three versions of the Agency Assessment specific to different roles within an agency.
			%ul	
				%li
					<u>Agency Leader Version (15-20 minutes)</u>: To be completed by executive decision-makers who have the opportunity and independence to decide what treatments or changes should be implemented throughout the agency.
				%li
					<u>Supervisor Version (30-45 minutes)</u>: To be completed by individuals whose primary role is to supervise providers that work directly with clients with ASD.
				%li
					<u>Direct provider Version (30-45 minutes)</u>: To be completed by providers whose primary role is to deliver treatment services directly to clients. 
			%p
				It is important for each staff member who fits into one of these three roles to complete the Agency Assessment. This will allow your ACT SMART facilitator to get the most comprehensive information about your agency. This will allow your ACT SMART facilitator to be able to identify agency needs and match these with potential research-based treatments and recommendations.

			%table.table
				%thead
					%th{ style: 'background: #ddd;border-bottom: 2px #999 solid;text-align:center;' }
						PHASE 1
					%th{ style: 'text-align:center;' }
						Individuals Involved
					%th{ style: 'text-align:center;' }
						What is to be Done
					%th{ style: 'text-align:center;' }
						Time Commitment
				%tbody
					%tr
						%td{ style: 'background: #ddd;border-bottom: 1px #999 solid' }
							<b>Step 1:</b>
							%br
							Agency Assessment
						%td
							%li
								Agency leaders
							%li
								Supervisors 
							%li
								Direct Providers
						%td
							%li
								Complete online assessment 
						%td
							%li
								15-20 minutes for agency leaders
							%li
								30-45 minutes for supervisors and direct providers
					%tr
						%td{ style: 'background: #ddd;border-bottom: 1px #999 solid' }
							<b>(Optional)</b>
							%br
							Caregiver Survey
						%td
							%li
								Caregivers of clients with ASD
						%td
							%li
								Complete brief satisfaction questionnaire
						%td
							%li
								5 minutes to complete brief questionnaire
					%tr
						%td{ style: 'background: #ddd;border-bottom: 1px #999 solid' }
							<b>Step 3:</b>
							%br
							Receptivity to New Treatment

						%td
							%li
								Agency leaders
							%li
								Supervisors 
							%li
								Direct Providers
						%td
							%li
								ACT SMART facilitators analyze the data and write up feedback reports
							%li
								Feedback meetings with agency leaders, supervisors, and direct providers will be led by ACT SMART facilitators

						%td
							%li
								10-30 minutes for each feedback session

			%h4
				%a{ href: '#todo' }
					Steps to Completion
			-#
				%p
					%b
						Determine which staff are eligible to complete the Agency Assessment. 
					All agency leaders, supervisors, and direct providers are eligible and should be encouraged to participate.

				.well{ style: 'float:right;width:25%;margin:2em;'}
					%h4{ style: 'text-align:center;' }
						Tip
					%p
						Staff who play more than one role in their agency should complete the evaluation version that corresponds to their primary role at your agency.
				%p
					1.	<b>Provide the ACT SMART facilitator with your staff’s information.</b> You may wish to provide your ACT SMART facilitator with contact information of eligible staff or the ACT SMART facilitator could join your next staff meeting to collect this information.
				%p
					2.	<b>The ACT SMART team will distribute the Agency Assessment surveys.</b>
				%p
					3.	<b>Encourage your staff to complete the online assessment.</b> Once the ACT SMART team has sent the assessment to your staff, please encourage your staff to complete it within two weeks.
				%p
					4.	<b>Optional: Assess caregiver/consumer satisfaction.</b> The goal of including this optional brief survey is to identify caregivers’ satisfaction with the services they or their children are receiving from the agency, and to evaluate the extent to which these services are meeting their needs or the needs of their children.
				%p
					Various methods may be used to collect this data, for example:
					%ul
						%li
							<b>Have an “Assessment Week”</b> where every provider gives a survey and self-addressed, stamped envelope (address to the ACT SMART team) to every one of their clients during the assessment week. Alternatively, if your agency uses tablets then you can have every provider ask every one of their clients to complete an online version of the survey during the treatment session. 
						%li
							<b>Send out surveys through the mail.</b> The ACT SMART team can provide your agency with envelopes pre-stuffed with surveys and self-addressed, stamped envelopes and labels for you to print client addresses and send out surveys from your agency. 
















