.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 2', phase2_index_path
				%li
					= link_to 'Step 1', step1_phase2_index_path
				%li
					Resource
	.row
		.col-sm-12
			%h1
				Phase 2 Step 1 Resource