.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 2', phase_path( 2 )
				%li
					Step 1
	.row
		.col-sm-12
			%h1
				Phase 2 Step 1
			.well.highlight{ style: 'width:25%;float:right;margin:2em;' }
				%h4{ style: 'text-align:center;' }
					Purpose
				%p.larger
					The Resource Guide to Identify Research-Based Treatments provides a comprehensive list of resources to identify research-based treatments that match your agency’s needs.
			%p.larger
				<u>Goal</u>: To identify a research-based treatment that matches the needs or your agency.
			%h4
				Introduction
			%p
				There are many treatments available for individuals with ASD. It can be difficult to systematically review all of the available treatments and conduct reviews of the evidence supporting (or not supporting) their use. However, there are a lot of reputable web-based resources that can summarize the research information and list research-based treatments.
			%p
				%a{ href: phase_step_activity_path( @phase, @phase.steps.first, @phase.steps.first.activities.first ) }
					Resource 1: Guide to Identify Research-Based Treatments.
				This resource summarizes important information about several web-based resources available to identify ASD research-based treatments. 
			%p
				%a{ href: phase_step_activity_path( @phase, @phase.steps.first, @phase.steps.first.activities.second ) }
					Resource 2: Identifying and Selecting a Research-Based Treatment. 
				This resource provides information about systematically locating and evaluating potential research-based treatments for adoption consideration. 
			%p
				%a{ href: phase_step_activity_path( @phase, @phase.steps.first, @phase.steps.first.activities.third ) }
					Activity 1: Treatment Selection. 
				This activity allows your implementation team to identify the research-based treatment that your agency is considering for adoption.