/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./summernote
 *= require_self
 *= require bootstrap_and_overrides
 *= require bootstrap_theme
 */

html, body {
    height: 100%;
}


.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -180px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 180px; /* .push must be the same height as .footer */
}

.footer{
    background-color: #eee;
    padding: 2em;
    border-top: 1px #aaa solid;
}

ul.none {list-style-type: none;}

.subtitle{
	font-weight: bold;
	font-style: italic;
	margin-top: -8px;
	margin-bottom: 12px;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}


.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.custom-cell-right {
    width:50%; 
    display:inline-block;
    float: right;
}

.custom-cell-left {
    width:50%; 
    display:inline-block;
    float: left;
}

.custom-width-header {
    width: 354px;
}

.custom-width-header-1 {
    width: 50px;
}

.custom-width-header-2 {
    width: 200px;
}

.navbar-brand.brand {
    padding-top: 11px;
}

#wellPadding {
    padding-bottom: 50px;
}

.col-centered{
float: none;
margin: 0 auto;
}