.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 2', phase_path( 2 )
				%li
					Step 1
	.row
		.col-sm-12
			%h1
				Phase 2 Step 1
			.well{ style: 'width:25%;float:right;margin:2em;' }
				%h4{ style: 'text-align:center;' }
					Purpose
				%p
					The Resource Guide to Identify Research-Based Treatments provides a comprehensive list of resources to identify research-based treatments that match your agency’s needs.
			%p
				<u>Goal</u>: To identify a research-based treatment that matches the needs or your agency.
			%h4
				Introduction
			%p
				There are many treatments available to for individuals with ASD. It can be difficult to systematically review all of the available treatments, and to conduct a comprehensive review of the evidence supporting (or not supporting) their use. However, there are a lot of reputable web-based resources that can summarize the research information and list research-based treatments.
			%p
				%a{ href: phase_step_activity_path( @phase, @phase.steps.first, @phase.steps.first.activities.first ) }
					Resource 1: Guide to Identify Research-Based Treatments.
				This resource summarizes important information about several web-based resources available to identify ASD research-based treatments. The resource includes the following information.
			%table.table
				%thead
					%th
						Column Name
					%th
						Description
				%tbody
					%tr
						%td
							Resource
						%td
							Lists the name and funder of the resource.
					%tr
						%td
							URL
						%td
							Lists the website URL where the resource can be located.
					%tr
						%td
							Accessibility
						%td
							Identifies whether the resource is free or requires a fee and the format in which the resource can be accessed (i.e., PDF or web-based).
					%tr
						%td
							Specificity to ASD
						%td
							Identifies whether or not the resource is designed for ASD related treatments or treatments for multiple populations.
					%tr
						%td
							Types of Treatments
						%td
							Identifies the various types of treatments (i.e., behavior, mental health, academic success) that are included in the resource.
					%tr
						%td
							Rating Scale
						%td
							Details the scale(s) used to rate the treatments listed within each resource.
					%tr
						%td
							Audience
						%td
							Lists the audience (i.e., parents, therapists, educators) that each resource was designed for.


	.row
		.col-sm-12
			%h2
				Instructions for Identifying and Selecting ASD Treatments
			%p
				Identifying and selecting ASD treatments may be challenging, as complications often arise with limited availability of resources to access information on potential ASD treatments. Optimal ASD treatments to implement at your agency have the following characteristics: 1) address agency-identified needs, 2) fit within the agency, 2) are feasible to implement, 3) are clinically useful, 4) demonstrate evidence supporting their use, and 5) have a favorable benefit-cost ratio. These Instructions for Identifying and Selecting ASD Treatments will assist agencies in navigating public resources to access information on ASD treatments. The information accessed will assist in completing ACT SMART worksheets to make an eventual well-informed adoption decision.
			%h4
				How do I access information about ASD treatments?
			%p
				Information on ASD treatments can be accessed in the following ways:
			%p
				1.	<u>National online registries of evidence-based treatments.</u> For a detailed, comprehensive list of national online registries, use The Resource Guide for Identifying Research-Based Treatments. This resource will help you navigate online registries to access information on potential ASD treatments. However, you may not find information on a particular ASD treatment you have in mind. This may be due to how treatments are classified, as these online registries may only include treatments that are considered evidence-based.
			%p
				2.	<u>Peer-reviewed research literature.</u> If you are unable to find information on a particular ASD treatment in an online registry, reviewing the research literature is another resource for identifying ASD treatments. A careful examination of peer-reviewed, published articles can provide needed information on empirical support for a particular ASD treatment. Unfortunately, accessing research literature may be time-consuming and difficult, as most online journals require an account. Most universities provide access to online journals, and some articles may be freely accessed through such search engines as Google Scholar. 
			%p
				3.	<u>Other documentation supporting the treatment.</u> In some instances you still may not be able to find an ASD treatment that meets your needs from online registries or peer-reviewed research literature. In this case, other sources of information, such as articles in non-peer-reviewed journals, book chapters, or unpublished reports from conferences/seminars may be available. It’s important to keep in mind that these resources may provide less support for the effectiveness of the treatment. 
			%h4
				How do I know if an ASD treatment is “evidence-based”?
			%p
				ASD treatments may be classified as evidence-based through inclusion in national online registries, or reported findings in the peer-reviewed journals, while others may document effectiveness based on other sources of information. Later in this phase, your implementation team will complete the Clinical Value and Research Validity activity to evaluate the evidence supporting the treatment you are considering for implementation at your agency.   
			%h4
				When examining the peer-reviewed literature, what are some things I should be looking out for to evaluate support for an ASD treatment?
			%p
				1.	<u>Conceptual Model or Theory.</u> Does the article provide a conceptual model or describe the theory of the treatment and link the model or theory to expectations about the way the treatment should work? Does the article describe the connection of the conceptual model or theory to the treatment approach, activities, and expected outcomes in sufficient detail to guide your decision? 
			%p
				2.	<u>Background on the ASD treatment.</u> Does the article adequately describe the proposed mechanism of change of the treatment? How closely does the problem targeted by the treatment match the identified needs of your community? Are the structure and content of the intervention described in enough detail? Is the context or setting of the treatment described to an extent that allows you to assess how well it might work at your agency?
			%p
				3.	<u>Study Population.</u> Does the article provide a well-described study population that includes baseline or “pre–treatment” measurement of the study population and comparison or control groups included in the study? Does the article describe in detail the characteristics of the study population and the comparison or control groups used? How well does the study population match your target group of individuals with ASD? 
			%p
				4.	<u>Overall quality of study design and data collection methods.</u> Does the article describe how the study design rules out competing explanations for the findings? Did the study methodology use a combination of strategies to measure the same outcome using different sources (e.g., child, parent, teacher, archival)? 
			%p
				5.	<u>Analytical plan and presentation of the findings.</u> Does the article specify how the analytical plan addresses the main questions posed in the study? Do the analyses take into account the key characteristics of the study’s methodology? Does the article report and clearly describe findings and outcomes? Are the findings consistent with the theory or conceptual model and the study’s hypotheses? Are findings reported for all outcomes specified? 
			%p
				6.	<u>A summary and discussion of the findings.</u> Does the discussion draw inferences and conclusions that are clearly related to the data and findings reported? 
			%h4
				I have more than one ASD treatment I’m considering. What should I do?
			%p
				In your search, you may identify more than one potential ASD treatment you would like to implement at your agency. If the goal for your agency is to only select one new treatment to implement, applying the following decision rule can help with selection:
			%p
				1.	Out of two similar ASD treatment that address the needs of your agency equally well, we recommend choosing the one for which there is stronger evidence of effectiveness, both in terms of the consistency and strength of effects on the desired outcomes and quality or rigor of the evaluation methodology utilized. 
			%p
				2.	Reserve the option to select an ASD treatment with little or weak evidence of effectiveness for circumstances in which there are no ASD treatment with stronger evidence that appropriately address the needs of your agency. 






				










			