.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 2', phase_path( 2 )
				%li
					= link_to 'Step 2', phase_step_path( @phase, @step )
				%li
					Activity 4: Training Requirements
	.row
		.col-sm-12
			%h1
				Activity 4: Training Requirements

			%p
				This activity is designed to assist with evaluating the training requirements specified by the treatment developers or outside training organization that must be met in order to deliver the research-based treatment you are considering adopting. 
			%p
				To identify the training requirements of a new research-based treatment, search for the original treatment or treatment article on the Internet or in the research literature. 

				