.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 3', phase_path( 3 )
				%li
					= link_to 'Step 2', phase_step_path( @phase, @step )
				%li
					Activity 1
	.row
		.col-sm-12
			%h1
				Activity 1: Training Plan

			%p
				When implementing a new practice, training is a crucial step in ensuring the innovation is implemented correctly.  The purpose of this worksheet is to assist with developing a plan to train staff in the research-based treatment you are implementing. The questions below are designed to take a systematic approach to address training details such as staff involvement, scheduling, travel, maintenance and sustained use of the intervention or practice. Refer to the Evaluating Training Requirements worksheet completed in the previous phase to ensure that any training requirements that may exist are incorporated into the training plan. 