.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 4', phase_path( 4 )
				%li
					Step 1
				%li
					Activity 1: Action Step Evaluation
	.row
		.col-sm-12
			%h1
				Activity 1: Action Step Evalution - Treatment Adaptation