
.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 2', phase_path( 2 )
				%li
					= link_to 'Step 2', phase_step_path( @phase, @step )
				%li
					Activity 6: Benefit and Cost Estimator
	.row
		.col-sm-12
			%h1
				Activity 6: Benefit and Cost Estimator
			%p
				The purpose of this worksheet is to help an agency consider the potential benefits and costs of implementing a particular research-based treatment. There are three cost considerations to think about when implementing a new treatment (training, ongoing support, and monitoring fidelity). Within each consideration you will calculate three general categories of cost (salaries, direct costs, and reimbursement loss). The information that is needed to complete this worksheet is provided below. 
			.well.highlight
				<b>Information required for each implementation consideration:</b>
				%p
					1)	Identification of staff who will be involved
				%p
					2)	Salary or hourly pay of staff involved
				%p
					3)	Estimate of the number of hours each staff member will be involved
				%p
					4)	Necessity of consultants 
				%p
					5)	Necessity of travel
				%p
					6)	Necessity of materials and equipment
				%p
					7)	Necessity of additional facilities