-# The Resource
.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 2', phase_path( 2 )
				%li
					= link_to 'Step 1', phase_step_path( @phase, @step )
				%li
					Resource 1
	.row
		.col-sm-12
			%h1
				Guide to Identify Research-Based Treatments
			%p
				Several web-based resources provide information on research-based treatments. The purpose of this table is to assist with locating and identifying a research-based treatment for your agency. 

			%table.table
				%thead
					%th
						Resource
					%th
						Accessibility
					%th
						Specificity to ASD
					%th
						Types of Treatments
					%th
						Rating Scale
					%th
						Audience
					%th
						Tools Provided
					%th
						Date Updated
				%tbody
					%tr
						%td
							%a{ href: 'https://www.impaqint.com/sites/default/files/project-reports/Autism_Spectrum_Disorders.pdf' }
								Autism Spectrum Disorders (ASDs) Services 
								Final Report on Environmental Scan 
							
							%br
							<u>Funder</u>: IMPAQ
						%td
							Free Access
							%br
							PDF Format
						%td
							Yes
						%td
							Behavioral
							%br
							Psychosocial
						%td
							Using the National Professional Development Center’s criteria for assessing evidence-based practices IMPAQ assigned interventions into 3 levels based off of study design, sample selection and potential for selection bias, sample size and effect on participants.
							%br
							%p
								Level  1 – Evidence-Based Interventions
							%p
								Level  2 – Emerging Evidence-Based    Interventions
							%p
								Level  3 – Unestablished Interventions
						%td
							Policymakers
							%br
							Agency leaders
						%td
							%a{ href: 'https://www.impaqint.com/sites/default/files/project-reports/Autism_Spectrum_Disorders.pdf' }
								Cost-benefit analyses
						%td
							3/9/2010
					%tr
						%td
							%a{ href: 'http://autismpdc.fpg.unc.edu/content/ebp-update' }
								National Professional Development Center on Autism
							%br
							<u>Funder:</u>
							Department of Education, Office of Special Education Programs
						%td
							Free Access
							%p
								Web-based resources provided for each of the EBPs included.
						%td
							Yes
						%td
							Behavioral 
							%p
								Psychosocial
						%td
							To be considered an evidence-based practice for individuals with ASD, efficacy must be established through peer-reviewed research in scientific journals. 
						%td
							Educators 
							%p
								Service providers
						%td
							%p
								Treatment 
								%a{ href: 'http://autismpdc.fpg.unc.edu/content/learning-modules-menu' }
									Learning Modules
							%p
								Treatment 
								%a{ href: 'http://autismpdc.fpg.unc.edu/node/727' }
									Fact Sheets
							%p
								Treatment 
								%a{ href: 'http://autismpdc.fpg.unc.edu/content/briefs' }
									Guides/Briefs
							%p
								%a{ href: 'http://autismpdc.fpg.unc.edu/content/autism-internet-modules-aim' }
									Autism Internet Modules


						%td
							2014
					%tr
						%td
							%a{ href; 'http://www.nrepp.samhsa.gov/' }
								National Registry of Evidence-based Programs and Practices (NREPP)
							%p
								<u>Funder:</u> 
								SAMHSA
						%td
							Free Access
							%p
								Web-based search engine
						%td
							No, but include ASD related treatments
						%td
							Mental health
							%p
								Behavioral 
							%p
								Substance abuse
						%td
							<b>Quality of research:</b>
							 rated in the following areas on a scale from 0 (lowest) to 4 (highest).
							%p 1)	Reliability of Measures
							%p 2)	Validity of Measures 
							%p 3)	Intervention Fidelity
							%p 4)	Missing Data and Attrition
							%p 5)	Potential Confounding Variables
							%p 6)	Appropriateness of Analysis
							%p
							%p
								<b>Readiness for Dissemination:</p> rated in the following areas on a scale from0 (lowest) to 4 (highest).
							%p 1)	Availability of Implementation Materials
							%p 2)	Availability of Training and Support Resources 
							%p 3)	Availability of Quality Assurance Procedures 
						%td
							Service providers
							%p
								Agency leaders
						%td
							Treatment 
							%a{ href: 'http://www.nrepp.samhsa.gov/LearningModules.aspx' }
								Learning Modules
							%a{ href: 'http://www.nrepp.samhsa.gov/pdfs/identifyingandselecting.pdf' }
								Resource to identify and select a treatment
							%a{ href: 'http://www.nrepp.samhsa.gov/pdfs/NIRN-TheHexagonTool_0.pdf' }
								Resource to evaluate context
							%a{ href: 'http://www.nrepp.samhsa.gov/AboutGlossary.aspx' }
								Glossary

						%td
							2/23/14
















