.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 3', phase_path( 3 )
				%li
					= link_to 'Step 3', phase_step_path( @phase, @step )
				%li
					Activity 1: Relationship Based Strategies
	.row
		.col-sm-12
			%h1
				Activity 1: Relationship Based Strategies
			%p
				The focus of relationship-based strategies is to develop agency leader characteristics, staff buy-in, and partnerships that encourage and support the use of the selected practice or strategy. 
			%table.table.table-bordered	
				%thead
					%th
						Specific strategies
					%th
						Strategy considerations	
					%th
						Selected for use
					%th
						Specify how this strategy would be done?
					%th
						Who will carry out this plan?
				%tbody
					%tr
						%th{:colspan => "5"}
							Build Agency Leader Characteristics to Support Innovation Acceptance and Use	
					%tr
						%td
							Develop agency leader characteristics supporting innovation and implementation
						%td
							%p.custom-cell-left
								Use currently 
						
								Previous success
							%p.custom-cell-right
								Feasible

								Recommended
						%td
						%td
						%td
