-# The Resource
.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 2', phase_path( 2 )
				%li
					= link_to 'Step 1', phase_step_path( @phase, @step )
				%li
					Resource 1
	.row
		.col-sm-12
			%h1
				Guide to Identify Research-Based Treatments
			%p
				Several web-based resources provide information on research-based treatments. The purpose of this table is to assist with locating and identifying a research-based treatment for your agency. 

			%table.table.table-bordered
				%thead
					%th
						Resource
					%th
						Accessibility
					%th
						Specificity to ASD
					%th
						Types of Treatments
					%th
						Rating Scale
					%th
						Audience
					%th
						Tools Provided
					%th
						Date Updated
				%tbody
					%tr
						%td
							%a{ href: 'https://www.impaqint.com/sites/default/files/project-reports/Autism_Spectrum_Disorders.pdf' }
								Autism Spectrum Disorders (ASDs) Services 
								Final Report on Environmental Scan 
							
							%br
							<u>Funder</u>: IMPAQ
						%td
							Free Access
							%br
							PDF Format
						%td
							Yes
						%td
							Behavioral
							%br
							Psychosocial
						%td
							Using the National Professional Development Center’s criteria for assessing evidence-based practices IMPAQ assigned interventions into 3 levels based off of study design, sample selection and potential for selection bias, sample size and effect on participants.
							%br
							%p
								Level  1 – Evidence-Based Interventions
							%p
								Level  2 – Emerging Evidence-Based    Interventions
							%p
								Level  3 – Unestablished Interventions
						%td
							Policymakers
							%br
							Agency leaders
						%td
							%a{ href: 'https://www.impaqint.com/sites/default/files/project-reports/Autism_Spectrum_Disorders.pdf' }
								Cost-benefit analyses
						%td
							3/9/2010
					%tr
						%td
							%a{ href: 'http://autismpdc.fpg.unc.edu/content/ebp-update' }
								National Professional Development Center on Autism
							%br
							<u>Funder:</u>
							Department of Education, Office of Special Education Programs
						%td
							Free Access
							%p
								Web-based resources provided for each of the EBPs included.
						%td
							Yes
						%td
							Behavioral 
							%p
								Psychosocial
						%td
							To be considered an evidence-based practice for individuals with ASD, efficacy must be established through peer-reviewed research in scientific journals. 
						%td
							Educators 
							%p
								Service providers
						%td
							%p
								Treatment 
								%a{ href: 'http://autismpdc.fpg.unc.edu/content/learning-modules-menu' }
									Learning Modules
							%p
								Treatment 
								%a{ href: 'http://autismpdc.fpg.unc.edu/node/727' }
									Fact Sheets
							%p
								Treatment 
								%a{ href: 'http://autismpdc.fpg.unc.edu/content/briefs' }
									Guides/Briefs
							%p
								%a{ href: 'http://autismpdc.fpg.unc.edu/content/autism-internet-modules-aim' }
									Autism Internet Modules


						%td
							2014
					%tr
						%td
							%a{ href: 'http://www.nrepp.samhsa.gov/' }
								National Registry of Evidence-based Programs and Practices (NREPP)
							%p
								<u>Funder:</u> 
								SAMHSA
						%td
							Free Access
							%p
								Web-based search engine
						%td
							No, but include ASD related treatments
						%td
							Mental health
							%p
								Behavioral 
							%p
								Substance abuse
						%td
							<b>Quality of research:</b>
							rated in the following areas on a scale from 0 (lowest) to 4 (highest).
							%p
								1)	Reliability of Measures
							%p
								2)	Validity of Measures 
							%p
								3)	Intervention Fidelity
							%p
								4)	Missing Data and Attrition
							%p
								5)	Potential Confounding Variables
							%p
								6)	Appropriateness of Analysis
							%p
							%p
								<b>Readiness for Dissemination:</b> rated in the following areas on a scale from0 (lowest) to 4 (highest).
							%p
								1)	Availability of Implementation Materials
							%p
								2)	Availability of Training and Support Resources 
							%p
								3)	Availability of Quality Assurance Procedures 
						%td
							Service providers
							%p
								Agency leaders
						%td
							Treatment 
							%p
								%a{ href: 'http://www.nrepp.samhsa.gov/LearningModules.aspx' }
									Learning Modules
							%p
								%a{ href: 'http://www.nrepp.samhsa.gov/pdfs/identifyingandselecting.pdf' }
									Resource to identify and select a treatment
							%p
								%a{ href: 'http://www.nrepp.samhsa.gov/pdfs/NIRN-TheHexagonTool_0.pdf' }
									Resource to evaluate context
							%p
								%a{ href: 'http://www.nrepp.samhsa.gov/AboutGlossary.aspx' }
									Glossary

						%td
							2/23/14
					%tr
						%td
							%a{ href: 'http://www.nationalautismcenter.org/nsp/reports.php' }
								National Standards Project
							%p
								<u>Funders:</u> 
							Availabilityutism Education Network &
							%br
							California Department of Developmental Services
						%td
							Free Access
							%p
								PDF format
						%td
							Yes
						%td
							Educational 
							%p
								Behavioral
						%td
							Interventions range from established, to emerging, and unestablished. 

							%p
								These ratings are based on the level of evidence for efficacy of the intervention.
						%td
							%p
								Parents/ caregivers
							%p
								Educators
							%p
								Service providers
						%td
							N/A
						%td
							2009
					%tr
						%td
							%a{ href: 'http://practicewise.com/#home' }
								PracticeWise
							%p
								<u>Funder:</u> 
								%br
								Private and grant funding
						%td
							Pay for service ($50- $250 per year)

							%p
								Web-based database 
						%td
							No, but includes ASD related treatments
						%td
							Mental health

							%p
								Behavioral

							%p
								Substance abuse
						%td
							The PWEBS application reports the results of Randomized Clinical Trials and assigns the following ratings:
							%p 1)	Level 1 – Best Support
							%p 2)	Level 2 – Good Support
							%p 3)	Level 3 – Moderate Support
							%p 4)	Level 4 – Minimal Support
							%p 5)	Level 5 – No Support
						%td
							Service providers

							%p
								Policymakers

							%p
								Administrators

							%p
								Agency leaders
						%td
							Treatment Database

							%p
								Treatment Guides/Briefs

							%p
								Managing and Adapting Practice System
						%td
							Not specified
					%tr
						%td
							%a{ href: 'http://www.promisingpractices.net' }
								Promising Practices Network
							%p
								<u>Funder:</u> 
								RAND corporation
						%td
							Free Access

							%p
								Web-based search engine
						%td
							No
						%td
							Physical health

							%p
								Mental health

							%p
								Educational
						%td
							The following ratings are based on outcomes, effect size, statistical significance, comparison groups, sample size, and availability of program evaluation documentation.
							%p 1)	Proven
							%p 2)	Promising 
							%p 3)	Proven/Promising
						%td
							Policymakers

							%p Service providers

							%p Decision-makers 
						%td
							%a{ href: 'http://www.promisingpractices.net/programs.asp' }
								Treatment database

							%a{ href: 'http://www.promisingpractices.net/issuebriefs.asp' }
								Issue Briefs
						%td
							6/2014
					%tr
						%td
							%a{ href: '' }
								Research Autism

							<u>Funder:</u>
							%br
							Charitable donations/ research sponsors are Autism Research Centre and National Autistic Society
						%td
							Free Access

							%p Web-based database
						%td
							Yes
						%td
							Treatment used to help people with ASD
						%td
							Ratings range from very strong positive evidence to very strong negative evidence and include a hazard/harm rating. 

							%p Ratings based on clinical outcomes and whether published in peer-reviewed journals.
						%td
							Not specified
						%td
							%a{ href: 'http://www.researchautism.net/autism-interventions/our-evaluations-interventions' }
								Treatment 
							database

							%a{ href: 'http://www.researchautism.net/autism-interventions/our-evaluations-interventions' }
								Glossary
							%a{ href: 'http://www.researchautism.net/autism/autism-resources/autism-publications' }
								Autism Publications


%br
%br








































