%nav.navbar.navbar-fixed-top{ role: 'navigation', style: 'background: #eee;' }
	.navbar-inner{ style: 'border-bottom:1px #ddd solid;' }
		.container
			.navbar-header
				%a.navbar-brand.brand.nav-header{ href: '/' }
					= image_tag 'logo_sq.png', width: 30
					Act SMART
				%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
					%span.sr-only Toggle navigation
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
			#top-navigation.nav-collapse.subnav-collapse.navbar-collapse.collapse
				%ul.nav.navbar-nav.navbar-left
					%li
						%a.nav-header{ href: '/admin' }
							Admin
					%li
						%a.nav-header{ href: user_events_path }
							Events

					%li
						%a.nav-header{ href: admin_pages_path }
							Pages

				%ul.nav.navbar-nav.navbar-right{ style: 'margin-right:1em;' }				
					- if current_user
						%li
							%a.nav-header{ href: '/admin', style: 'text-decoration:none;' }
								Hi
								= current_user.name.titleize
						%li
							%a.nav-header{ href: '/logout' }
								Logout