.container
	.row
		.col-sm-12
			.alert.alert-success#customFlash{:style => 'display:none'}
				%span
					Treatments updated
					%btn.close#closeFlash
						&times;
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					Phase 2

	.row
		.col-sm-12
			%h1
				Phase 2: Treatment Selection & Adoption Decision
			%p.larger
				<u>Goal</u>:
				Assist your agency's implementation team to select, evaluate, and adopt an appropriate research-based treatment that will meet your agency's needs.
	.row
		.col-sm-7
			.well
				%h5
					General Description
				%p
					Using the information identified in Phase 1, Phase 2 will guide your implementation team through:
					%ul
						%li
							identifying an appropriate research-based treatment,
						%li
							evaluating its characteristics to determine whether it would be appopriate to meet your client's needs and for your agency to use, 
						%li
							making a decision whether or not to adopt the research-based treatment.

				%p
					To help your implementation team evaluate the potential treatment, you will need to access specific information, such as a description of the treatment, how it is supposed to be delivered to individuals with ASD, evidence of its effectiveness, and staff training requirements. To access this information, search for the original treatment article or manual on the Internet or in the research literature. You may be able to use the resources available in Step 1: Resource 1 to access this information. Your ACT SMART facilitator will be able to guide your team to the necessary resources if you feel that this would be helpful.
				-#
					%p
						Phase 2 is comprised of three steps: 
						%ol
							%li
								Identifying an appropriate research-based treatment
							%li
								Evaluating treatment and provider factors (such as fit, benefit-cost estimator, feasibility)
							%li
								Making a decision whether or not to adopt the research-based treatment
							%br
							%br


		.col-sm-5
			.well
				%h5 Phase 2 Progress
				%i.fa.fa-circle-o
				Step 1:
				%a{ href: phase_step_path( @phase, @phase.steps.first ) }
					Identify an Appropriate Research-Based Treatment
				%ul.none
					%li
						%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.first, @phase.steps.first.activities.first ) }
							Resource 1: Guide to Identify Research-Based Treatments
					%li
						%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.first, @phase.steps.first.activities.second ) }
							Resource 2: Instructions for Identifying and Selecting ASD Treatments
					%li
						- if @current_agency.agency_treatments.first.chosen_treatment.present?
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
						- else
							%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.first, @phase.steps.first.activities.third ) }
							Activity 1: Treatment Selection
				

				- if @current_agency.step_complete?( @phase.steps.second )
					%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
				- else
					%i.fa.fa-circle-o
				%a{ href: phase_step_path( @phase, @phase.steps.second ) }
					Step 2: Evaluate Treatment and Provider Factors
				%ul.none
					%li
						- if @current_agency.activity_complete?( @phase.steps.second.activities.find_by_seq( 1 ) )
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
						- else
							%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.second, @phase.steps.second.activities.find_by_seq( 1 ) ) }
							Activity 1: Treatment Fit
					%li
						- if @current_agency.activity_complete?( @phase.steps.second.activities.find_by_seq( 2 ) )
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
						- else
							%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.second, @phase.steps.second.activities.find_by_seq( 2 ) ) }
							Activity 2: Treatment Feasibility
					%li
						- if @current_agency.activity_complete?( @phase.steps.second.activities.find_by_seq( 3 ) )
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
						- else
							%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.second, @phase.steps.second.activities.find_by_seq( 3 ) ) }
							Activity 3: Clinical Value and Research Validity
					%li
						- if @current_agency.training_requirements_complete?( @phase.steps.second.activities.find_by_seq( 4 ) )
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
						- else
							%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.second, @phase.steps.second.activities.find_by_seq( 4 ) ) }
							Activity 4: Training Requirements
					%li
						- if @current_agency.activity_complete?( @phase.steps.second.activities.find_by_seq( 5 ) )
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
						- else
							%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.second, @phase.steps.second.activities.find_by_seq( 5 ) ) }
							Activity 5: Funding Source Checklist
					%li
						- if @current_agency.activity_complete?( @phase.steps.second.activities.find_by_seq( 6 ) )
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
						- else
							%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.second, @phase.steps.second.activities.find_by_seq( 6 ) ) }
							Activity 6: Benefit-Cost Estimator

				%i.fa.fa-circle-o
				Step 3:
				%a{ href: phase_step_path( @phase, @phase.steps.third ) }
					Make an Adoption Decision
				%ul.none
					%li
						- if @current_agency.activity_complete?( @phase.steps.third.activities.find_by_seq( 1 ) )
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
						- else
							%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.third, @phase.steps.third.activities.find_by_seq( 1 ) ) }
							Activity 1: Adoption Decision

	.row
		.col-sm-12
			.well
				%h5
					Treatment Under Consideration:
					= @current_agency.agency_treatments.first.chosen_treatment