.container
	.row
		.col-sm-12
			.alert.alert-success#customFlash{:style => 'display:none'}
				%span
					Treatments updated
					%btn.close#closeFlash
						&times;
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					Phase 2

	.row
		.col-sm-12
			%h1
				Phase 2: Treatment Selection & Adoption Decision
			%p
				<u>Goal</u>:
				Assist the implementation team select and adopt an appropriate research-based treatment to meet your agency’s needs.
	.row
		.col-sm-7
			.well
				%h5
					General Description
				%p
					The purpose of phase 2 is to assist agency leaders select and adopt effective research-based treatments to meet your agency’s needs (<a href='/phases/1'>Identified in phase 1</a>). 
				%p
					Information in this phase is used to select a research-based treatment and evaluate factors that are important to consider before you decide to adopt it. 
				%p
					Phase 2 is comprised of three steps: 
					%ol
						%li
							Identifying an appropriate research-based treatment
						%li
							Evaluating treatment and provider factors (such as fit, benefit-cost estimator, feasibility)
						%li
							Making a decision whether or not to adopt the research-based treatment
						%br
						%br


		.col-sm-5
			.well
				%h5 Phase 2 Progress
				%i.fa.fa-circle-o
				Step 1:
				%a{ href: phase_step_path( @phase, @phase.steps.first ) }
					Identify an appropriate research-based treatment
				%ul.none
					%li
						%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.first, @phase.steps.first.activities.first ) }
							Resource 1: Guide to Identify Research-Based Treatments
					%li
						%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.first, @phase.steps.first.activities.second ) }
							Resource 2: Instructions for Identifying and Selecting ASD Treatments
					%li
						- if @current_agency.agency_treatments.first.chosen_treatment.present?
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
						- else
							%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.first, @phase.steps.first.activities.third ) }
							Activity 1: Treatment Selection
				

				- if @current_agency.step_complete?( @phase.steps.second )
					%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
				- else
					%i.fa.fa-circle-o
				%a{ href: phase_step_path( @phase, @phase.steps.second ) }
					Step 2: Evaluate treatment and provider factors
				%ul.none
					%li
						- if @current_agency.activity_complete?( @phase.steps.second.activities.find_by_seq( 1 ) )
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
						- else
							%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.second, @phase.steps.second.activities.find_by_seq( 1 ) ) }
							Activity 1: Treatment Fit
					%li
						- if @current_agency.activity_complete?( @phase.steps.second.activities.find_by_seq( 2 ) )
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
						- else
							%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.second, @phase.steps.second.activities.find_by_seq( 2 ) ) }
							Activity 2: Treatment Feasibility
					%li
						- if @current_agency.activity_complete?( @phase.steps.second.activities.find_by_seq( 3 ) )
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
						- else
							%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.second, @phase.steps.second.activities.find_by_seq( 3 ) ) }
							Activity 3: Clinical Value and Research Validity
					%li
						- if @current_agency.activity_complete?( @phase.steps.second.activities.find_by_seq( 4 ) )
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
						- else
							%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.second, @phase.steps.second.activities.find_by_seq( 4 ) ) }
							Activity 4: Training Requirements
					%li
						- if @current_agency.activity_complete?( @phase.steps.second.activities.find_by_seq( 5 ) )
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
						- else
							%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.second, @phase.steps.second.activities.find_by_seq( 5 ) ) }
							Activity 5: Funding Source Checklist
					%li
						- if @current_agency.activity_complete?( @phase.steps.second.activities.find_by_seq( 6 ) )
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
						- else
							%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.second, @phase.steps.second.activities.find_by_seq( 6 ) ) }
							Activity 6: Benefit-Cost Estimator

				%i.fa.fa-circle-o
				Step 3:
				%a{ href: phase_step_path( @phase, @phase.steps.third ) }
					Make an adoption decision
				%ul.none
					%li
						- if @current_agency.activity_complete?( @phase.steps.third.activities.find_by_seq( 1 ) )
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;'}
						- else
							%i.fa.fa-circle-o
						%a{ href: phase_step_activity_path( @phase, @phase.steps.third, @phase.steps.third.activities.find_by_seq( 1 ) ) }
							Activity 1: Feasibility Score