.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					Phase 1

	.row
		.col-sm-12
			%h1
				Phase 1: Identify Practice & Delivery Gaps
			%p
				<u>Goal</u>:
				Identify your agency’s areas of strength and areas of growth, and determine your agency’s receptivity to implementing a new research-based treatment.
	.row
		.col-sm-7
			.well
				%h5
					General Description
				%p
					The first goal of Phase 1 is to identify areas of strength to build upon, and areas of growth that your agency can address by implementation a new research-based treatment. The second goal is to determine your agency’s receptivity to implementing a new research-based treatment. Both of these goals are accomplished completing the ACT SMART Agency Assessment. 
				%p
					Agency leaders, supervisors, and direct providers at your agency will be asked to complete the confidential ACT SMART Agency Assessment. An additional option is for each of your agency’s clients or caregivers of clients to complete the Caregiver/Consumer Satisfaction Survey. 
				%p
					ACT SMART facilitators will analyze the data and provide specific feedback to your agency including: areas of strength, areas of growth, recommendations for next steps, and guidance about prioritizing agency goals.

			.well
				%h5
					Agency Assessment Outcomes and Recommendations


		.col-sm-5
			.well
				%h5 Phase 1 Progress
				= check_box_tag :phase1_step1, 1, false, class: 'post'
				Step 1:
				%a{ href: step1_phase1_index_path }
					Complete the Agency Assessment
				%ul
					%li
						Determine which staff are eligible to complete the Agency Assessment.
					%li
						Provide the ACT SMART facilitator with your staff’s information.
					%li
						Encourage your staff to complete the online Agency Assessment.
					%li
						Optional: Assess Caregiver/Consumer Satisfaction
				= check_box_tag :phase1_step2, 1, false, class: 'post'
				Step 2:
				%a{ href: step2_phase1_index_path }
					Receptivity to new Treatment

			
			.well
				%h5
					What's Next