.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 1', phase1_index_path
				%li
					Step 1

	.row
		.col-sm-12
			%h1
				Step 1. Agency Assessment
			%p
				<u>Goal</u>: To identify areas of strength and opportunities for growth within the agency. 
			%h4
				Introduction
			%p
				There are two important parts within the Agency Assessment. The first part assesses the services that are offered within your agency. This part will ask specific questions about what services are being delivered, the quality of services, and the extent to which services are meeting client needs. The second part assesses agency factors that impact the delivery of services. This includes questions about the level of communication, trust, and openness in the agency, how willing the agency is for change, and staff attributes and attitudes. These factors can influence the success or failure of implementing a research-based treatment. 
			%p
				Information is gathered from clinical staff to get a comprehensive assessment of the agency. There are three versions of the Agency Assessment specific to different roles within an agency. 
			%ul	
				%li
					<u>Agency Leader Version (15-20 minutes)</u>: To be completed by executive decision-makers who have the authority to decide what treatments or changes should be implemented within the entire agency.
				%li
					<u>Supervisor Version (30-45 minutes)</u>: To be completed by individuals whose primary role is to supervise providers that work directly with clients with ASD.
				%li
					<u>Direct provider (30-45 minutes)</u>: To be completed by practitioners who deliver services to clients. 
			%p
				It is important for each staff member who fits into one of these three roles to complete the Agency Assessment. This will allow the ACT SMART facilitator to get the most comprehensive information about the agency. Also, by ensuring that each staff member completes the assessment, the ACT SMART facilitator will be able to identify agency needs and match these with potential research-based treatments and recommendations. 

			-# TODO